<div class="login-container">
	<div class="login-content">
    <h1 class="text-center">{{appName}}</h1>
		<mat-card>
      <mat-card-header>
        <mat-toolbar class="login-toolbar" color="primary">
          Resetare parola
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
			<form class="mt-4" [formGroup]="registerForm" #formDirective="ngForm"
  (ngSubmit)="onSubmit(registerForm, formDirective)">
				<mat-form-field>
					<mat-icon matPrefix>email</mat-icon>
					<input type="email" matInput placeholder="Email *" formControlName="email">
					@if(checkValidation('email')){
            <mat-error>{{ emaiErrors() }}</mat-error>
          }
				</mat-form-field>

			<div class="socialMediaFlex mb-2 mt-4">
        	<button style="width:50%" [disabled]="registerForm.invalid"    type="submit" mat-raised-button color="primary">Trimite mail</button>
      </div>
			</form>
    </mat-card-content>
		</mat-card>
    <p > </p>
    <p class="text-center">
      <span>
        <button mat-button color="primary" type="button" (click)="goToLogin()" >Log in</button>
        <p class="text-center"><button mat-button color="primary" type="button" routerLink="">Fa o programare</button></p>
      </span>
    </p>
  </div>
</div>




<div class="displayTable" style="display: none;">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.sendPasswordResetEmails(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>
  </div>
</div>
