<p mat-dialog-title class="pb-0 mb-0">Serviciu</p>
<form [formGroup]="dataForm" #formDirective="ngForm"
(ngSubmit)="update()">
<mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Date generale">
        <div class="row">
          <mat-form-field class="col-12 col-md-6 pe-2">
            <mat-icon matPrefix>text_fields</mat-icon>
            <mat-label>Nume</mat-label>
            <input type="text" matInput placeholder="Nume *"  [(ngModel)]="currentData.nume" formControlName="nume" required>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-6">
            <mat-icon matPrefix>medical_services</mat-icon>
            <mat-label>Furnizor</mat-label>
            <mat-select placeholder="Furnizor *"  [(ngModel)]="currentData.furnizor" formControlName="furnizor" required>
              @for (option of lstNumeFurnizori; track option) {
                <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12 col-md-6">
            <mat-icon matPrefix>format_list_bulleted</mat-icon>
            <mat-label>Domeniu</mat-label>
            <mat-select placeholder="Domeniu *"  [(ngModel)]="currentData.domeniu" formControlName="domeniu" required>
              @for (option of lstDomeniuParametri; track option) {
                <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div  class="col-12 col-md-6 pe-2">
            <mat-checkbox  [(ngModel)]="currentData.dezactivat" formControlName="dezactivat">
              <mat-label>Dezactivat</mat-label>
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="col-12 col-md-6 pe-2">
            <mat-icon matPrefix>map</mat-icon>
            <mat-label>Judet</mat-label>
            <mat-select placeholder="Judet *"  [(ngModel)]="currentData.judet" formControlName="judet" required>
              @for (option of lstJudetParametri; track option) {
                <mat-option [value]="option">{{option}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-6">
            <mat-icon matPrefix>location_on</mat-icon>
            <mat-label>Localitate</mat-label>
            <input type="text" matInput placeholder="Localitate *" [(ngModel)]="currentData.localitate" formControlName="localitate" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12">
            <mat-icon matPrefix>edit_road</mat-icon>
            <mat-label>Strada</mat-label>
            <input type="text" matInput placeholder="Strada" [(ngModel)]="currentData.strada" formControlName="strada">
          </mat-form-field>
        </div>
         <div class="row">
          <mat-form-field class="col-6 col-md-3 pe-2">
            <mat-icon matPrefix>numbers</mat-icon>
            <mat-label>Nr</mat-label>
            <input type="text" matInput placeholder="Nr" [(ngModel)]="currentData.nr" formControlName="nr">
          </mat-form-field>
          <mat-form-field class="col-6 col-md-3 pe-2">
            <mat-icon matPrefix>apartment</mat-icon>
            <mat-label>Bl</mat-label>
            <input type="text" matInput placeholder="Bl" [(ngModel)]="currentData.bl" formControlName="bl">
          </mat-form-field>
          <mat-form-field class="col-6 col-md-3 pe-2" >
            <mat-icon matPrefix>stairs</mat-icon>
            <mat-label>Sc</mat-label>
            <input type="text" matInput placeholder="Sc" [(ngModel)]="currentData.sc" formControlName="sc">
          </mat-form-field>
          <mat-form-field class="col-6 col-md-3">
            <mat-icon matPrefix>night_shelter</mat-icon>
            <mat-label>Ap</mat-label>
            <input type="text" matInput placeholder="Ap" [(ngModel)]="currentData.ap" formControlName="ap">
          </mat-form-field>
          </div>
      </mat-tab>
      <mat-tab label="Prestator">
        <div class="row">
          <div  class="col-12">
            <mat-checkbox  [(ngModel)]="currentData.are_prestator" (click)="reset_daca_nu_are_prestator()" formControlName="are_prestator">
              <mat-label>Are prestator</mat-label>
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <mat-form-field *ngIf="currentData.are_prestator" class="col-12 col-md-6">
            <mat-label>Prestator</mat-label>
            <input type="text" matInput placeholder="ex. Dr. Popescu Ioan, Ghiseul 1, etc" [(ngModel)]="currentData.prestator" formControlName="prestator">
          </mat-form-field>
          <mat-form-field *ngIf="currentData.are_prestator"  class="col-12 col-md-6">
            <mat-label>Prestatie</mat-label>
            <input type="text" matInput placeholder="ex Cardiologie, Permise auto, etc" [(ngModel)]="currentData.prestatie" formControlName="prestatie">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Valabilitate">
        <div class="row">
          <div  class="col-12 col-md-6 pe-2">
            <mat-checkbox  [(ngModel)]="currentData.permanent" formControlName="permanent">
              <mat-label>Permanent</mat-label>
            </mat-checkbox>
          </div>
          <mat-form-field *ngIf="!currentData.permanent" class="col-6 col-md-3">
            <mat-label>De la data</mat-label>
            <input type="text" [matDatepicker]="picker_data_start" matInput placeholder="Data start" [(ngModel)]="currentData.data_start" formControlName="data_start">
            <mat-datepicker-toggle matIconSuffix [for]="picker_data_start"></mat-datepicker-toggle>
            <mat-datepicker #picker_data_start></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="!currentData.permanent"  class="col-6 col-md-3">
            <mat-label>Pana la data</mat-label>
            <input type="text" [matDatepicker]="picker_data_end" matInput placeholder="Data end" [(ngModel)]="currentData.data_end" formControlName="data_end">
            <mat-datepicker-toggle matIconSuffix [for]="picker_data_end"></mat-datepicker-toggle>
            <mat-datepicker #picker_data_end></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6 col-md-3">
            <mat-icon matPrefix>digit</mat-icon>
            <mat-label>Durata minute</mat-label>
            <input type="number" min="1" max="180"
            matInput placeholder="Durata minute" [matTooltip]="'Durata serviciului nu poate fi modificata ulterior'"
            [(ngModel)]="currentData.durata_minute" formControlName="durata_minute" required [readonly]="currentData.id">
          </mat-form-field>
          <mat-form-field class="col-6 col-md-3">
            <mat-icon matPrefix>digit</mat-icon>
            <mat-label>Minute anulare</mat-label>
            <input type="number" min="0" max="180" matInput [matTooltip]="'Cu cate minute inainte este permisa anularea unei programari'" [(ngModel)]="currentData.anulare_minute" formControlName="anulare_minute" required>
          </mat-form-field>
          <mat-form-field class="col-12 col-md-6 pe-2">
            <mat-icon matPrefix>map</mat-icon>
            <mat-label>Zile libere</mat-label>
            <mat-select placeholder="Zile libere *"  [(ngModel)]="currentData.zile_libere" formControlName="zile_libere" [multiple]="true">
              @for (option of lstZiLiberaParametri; track option) {
                <mat-option [value]="option" selected >{{option}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Orar">
        <mat-tab-group>
          <mat-tab label="Luni">
            <div class="row" *ngIf="!currentData.orar[1].inactiv">
              <mat-form-field class="col-12 col-md-6 pe-2" appearance="fill">
                <mat-label>Ora start</mat-label>
                <input  type="time" matInput placeholder="Ora start" [(ngModel)]="currentData.orar[1].start" formControlName="orar_luni_start">
              </mat-form-field>
              <mat-form-field class="col-12 col-md-6" appearance="fill">
                <mat-label>Ora end</mat-label>
                <input type="time"  matInput placeholder="Ora end" [(ngModel)]="currentData.orar[1].end" formControlName="orar_luni_end">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 col-md-6" *ngIf="!currentData.orar[1].inactiv">
                <mat-checkbox [(ngModel)]="orar_identic" (click)="copy_orar()" formControlName="orar_identic">
                  <mat-label>Copiaza la celelalte zile</mat-label>
                </mat-checkbox>
              </div>
              <div class="col-12 col-md-6">
                <mat-checkbox [(ngModel)]="currentData.orar[1].inactiv" formControlName="orar_luni_inactiv">
                  <mat-label>Nu are program</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Marti">
            <div class="row" *ngIf="!currentData.orar[2].inactiv">
              <mat-form-field class="col-12 col-md-6 pe-2" appearance="fill">
                <mat-label>Ora start</mat-label>
                <input type="time" matInput placeholder="Ora start" [(ngModel)]="currentData.orar[2].start" formControlName="orar_marti_start">
              </mat-form-field>
              <mat-form-field class="col-12 col-md-6" appearance="fill">
                <mat-label>Ora end</mat-label>
                <input type="time"  matInput placeholder="Ora end" [(ngModel)]="currentData.orar[2].end" formControlName="orar_marti_end">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-checkbox [(ngModel)]="currentData.orar[2].inactiv" formControlName="orar_marti_inactiv">
                  <mat-label>Nu are program</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Miercuri">
            <div class="row" *ngIf="!currentData.orar[3].inactiv">
              <mat-form-field class="col-12 col-md-6 pe-2" appearance="fill">
                <mat-label>Ora start</mat-label>
                <input type="time" matInput placeholder="Ora start" [(ngModel)]="currentData.orar[3].start" formControlName="orar_miercuri_start">
              </mat-form-field>
              <mat-form-field class="col-12 col-md-6" appearance="fill">
                <mat-label>Ora end</mat-label>
                <input type="time"  matInput placeholder="Ora end" [(ngModel)]="currentData.orar[3].end" formControlName="orar_miercuri_end">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-checkbox [(ngModel)]="currentData.orar[3].inactiv" formControlName="orar_miercuri_inactiv">
                  <mat-label>Nu are program</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Joi">
            <div class="row" *ngIf="!currentData.orar[4].inactiv">
              <mat-form-field class="col-12 col-md-6 pe-2" appearance="fill">
                <mat-label>Ora start</mat-label>
                <input type="time" matInput placeholder="Ora start" [(ngModel)]="currentData.orar[4].start" formControlName="orar_joi_start">
              </mat-form-field>
              <mat-form-field class="col-12 col-md-6" appearance="fill">
                <mat-label>Ora end</mat-label>
                <input type="time"  matInput placeholder="Ora end" [(ngModel)]="currentData.orar[4].end" formControlName="orar_joi_end">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-checkbox [(ngModel)]="currentData.orar[4].inactiv" formControlName="orar_joi_inactiv">
                  <mat-label>Nu are program</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Vineri">
            <div class="row" *ngIf="!currentData.orar[5].inactiv">
              <mat-form-field class="col-12 col-md-6 pe-2" appearance="fill">
                <mat-label>Ora start</mat-label>
                <input type="time" matInput placeholder="Ora start" [(ngModel)]="currentData.orar[5].start" formControlName="orar_vineri_start">
              </mat-form-field>
              <mat-form-field class="col-12 col-md-6" appearance="fill">
                <mat-label>Ora end</mat-label>
                <input type="time"  matInput placeholder="Ora end" [(ngModel)]="currentData.orar[5].end" formControlName="orar_vineri_end">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-checkbox [(ngModel)]="currentData.orar[5].inactiv" formControlName="orar_vineri_inactiv">
                  <mat-label>Nu are program</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Sambata" *ngIf="!currentData.zile_libere.includes('sambata')">
            <div class="row" *ngIf="!currentData.orar[6].inactiv">
              <mat-form-field class="col-12 col-md-6 pe-2" appearance="fill">
                <mat-label>Ora start</mat-label>
                <input type="time" matInput placeholder="Ora start" [(ngModel)]="currentData.orar[6].start" formControlName="orar_sambata_start">
              </mat-form-field>
              <mat-form-field class="col-12 col-md-6" appearance="fill">
                <mat-label>Ora end</mat-label>
                <input type="time"  matInput placeholder="Ora end" [(ngModel)]="currentData.orar[6].end" formControlName="orar_sambata_end">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-checkbox [(ngModel)]="currentData.orar[6].inactiv" formControlName="orar_sambata_inactiv">
                  <mat-label>Nu are program</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Duminica" *ngIf="!currentData.zile_libere.includes('duminica')">
            <div class="row" *ngIf="!currentData.orar[0].inactiv">
              <mat-form-field class="col-12 col-md-6 pe-2" appearance="fill">
                <mat-label>Ora start</mat-label>
                <input type="time" matInput placeholder="Ora start" [(ngModel)]="currentData.orar[0].start" formControlName="orar_duminica_start">
              </mat-form-field>
              <mat-form-field class="col-12 col-md-6" appearance="fill">
                <mat-label>Ora end</mat-label>
                <input type="time"  matInput placeholder="Ora end" [(ngModel)]="currentData.orar[0].end" formControlName="orar_duminica_end">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-checkbox [(ngModel)]="currentData.orar[0].inactiv" formControlName="orar_duminica_inactiv">
                  <mat-label>Nu are program</mat-label>
                </mat-checkbox>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Inchide</button>
  <button [disabled]="dataForm.invalid" [mat-dialog-close]="true"   type="submit" mat-raised-button>{{currentData.id ? 'Actualizeaza':'Salveaza'}}</button>
</mat-dialog-actions>
</form>
