<div class="login-container">
	<div class="login-content">
    <h1 class="text-center">{{appName}}</h1>

		<mat-card>
      <mat-card-header>
        <mat-toolbar class="login-toolbar" color="primary">
          Autentificare
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
			<form class="mt-4" [formGroup]="registerForm" #formDirective="ngForm"
  (ngSubmit)="onSubmit(registerForm, formDirective)">
				<mat-form-field>
					<mat-icon matPrefix>email</mat-icon>
					<input type="email" matInput placeholder="Email *" formControlName="email">
					@if(checkValidation('email')){
            <mat-error>{{ emaiErrors() }}</mat-error>
          }
				</mat-form-field>


				<mat-form-field>
					<mat-icon matPrefix>lock_outline</mat-icon>
          <mat-icon matSuffix (click)="togglePassword()" *ngIf="!paswordVisible" title="Arata parola">visibility</mat-icon>
          <mat-icon matSuffix (click)="togglePassword()" *ngIf="paswordVisible" title="Ascunde parola">visibility_off</mat-icon>
					<input [type]="(paswordVisible? 'text':'password')" autocomplete="false" matInput placeholder="Password *" formControlName="password">
      <mat-error *ngIf="checkValidation('password')">
        {{ getErrorPassword() }}
      </mat-error>
				</mat-form-field>
        <p class="mt-0 pt-1 mb-0">Am uitat parola?
          <button mat-button type="button"  routerLink="/forgot-password"
          color="primary">Trimite email </button></p>

			<div class="socialMediaFlex mb-2 mt-4">
        	<button style="width:50%" [disabled]="registerForm.invalid"    type="submit" mat-raised-button color="primary">Login</button>
      </div>
			</form>
    </mat-card-content>
		</mat-card>
    <p > </p>
    <p class="text-center">
      <span>
        Autentificare cu
        <button mat-button color="primary" type="button" (click)="authService.GoogleAuth()">
          Google
        </button>
      </span>
      <span>
        Nu am cont
        <button mat-button color="primary" type="button" (click)="goToRegister()">
          Inregistreaza-te
        </button>
      </span>
    </p>
    <p class="text-center">
      <span>
        <button mat-button color="primary" type="button" routerLink="">
          Fa o programare
        </button>
      </span>
    </p>
  </div>
</div>

