
.login-container {
  margin-top: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}



@media screen and (max-width: 767px) {
.login-container{
  width: 320px;
}
.mat-mdc-form-field {
  display: flex;
  font-size: 12px;
}
}


form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.mat-mdc-form-field {
  width: 100%;
  display: block;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-raised-button {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}
.socialMediaFlex{
  display:flex;
  justify-content: space-around;
}
